<div class="poke-header">
  <div class="poke-name-nr">
    <div class="row">
      <h2 class="h2-up">{{ pokemon.name }}</h2>
      <h2 class="h2-down">Nr. {{ pokemon.id }}</h2>
    </div>
  
    <div class="poke-type">
      <span
        *ngFor="let type of pokemon.types; index as k"
        class="bg-{{ pokemon.types[k].type.name }}"
        >{{ pokemon.types[k].type.name | titlecase }}</span>
    </div>
  </div>
</div>

<div class="switch-poke" >
  <div *ngIf="pokemon.id >= 2" class="poke-before" (click)="previousPokemon(pokemon.id)">
    <p>Nr {{ pokemonBefore.id }}</p>
    <div  >
      {{ pokemonBefore.name | titlecase }}
    </div>
  </div>
  <div class="poke-next" (click)="nextPokemon(pokemon.id)">
    <div >
      {{ pokemonNext.name | titlecase }}
    </div>
    <p>Nr {{ pokemonNext.id }}</p>
  </div>
</div>

<div class="container">
  <div class="container-left">
    <div class="poke-img">
      <img src="{{ pokemonImg }}" alt="" />
    </div>
  </div>

  <div class="container-right">
    <div class="poke-info">
      <div>
        <p>Height:</p>
        <span>{{ pokemon.height }} m</span>
      </div>

      <div>
        <p>Weight:</p>
        <span>{{ pokemon.weight }} kg</span>
      </div>

      <div>
        <p>Abilities:</p>
        <span *ngFor="let ability of pokemon.abilities; index as i"
          >{{ pokemon.abilities[i].ability.name | titlecase }}<br
        /></span>
      </div>
    </div>

    <div class="stats">
      <header *ngFor="let stat of pokemon.stats; index as i" class="column">
        <p>{{ pokemon.stats[i].stat.name.substring(0, 11) }}</p>
        <span>
          <div class="" [style.height.px]="pokemon.stats[i].base_stat"></div>
        </span>
      </header>
    </div>

    <div class="stats-mobile">
      <header *ngFor="let stat of pokemon.stats; index as i" class="row">
        <p>{{ pokemon.stats[i].stat.name.substring(0, 11) }}</p>
        <span>
          <div class="" [style.max-width.px]="pokemon.stats[i].base_stat"></div>
        </span>
      </header>
    </div>
  </div>
</div>
